<h1> Cadastrar Filme</h1>

<div id="titulo">
    <label for="titulo">Título: </label>
    <input type="text" name="titulo" [(ngModel)] = "titulo"/>
</div>

<div id="genero">
    <label for="genero">Gênero: </label>
    <input type="text" name="genero" [(ngModel)] = "genero"/>
</div>

<div id="ano">
    <label for="ano">Ano: </label>
    <input type="number" name="ano" [(ngModel)] = "ano"/>
</div>

<div id="diretor">
    <label for="diretor">Diretor: </label>
    <input type="text" name="diretor" [(ngModel)] = "diretor"/>
</div>

<button (click)="cadastrar()">Cadastrar</button>


